/* The Deep End */
/* By Bronwyn Cotter */

/* RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

*/

* {
    box-sizing: border-box;
    border: 0.5px solid red;
}


body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

.container {
    max-width: 100%;
}

/* HEADER */

#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
    z-index: 100;
    display: inline-block;
    background-color: white; 
}

#logo {
    float: left;
    vertical-align: middle;
    padding: 3rem;
}

#logo img {
    max-width: 20rem;
}

#nav-icon {
    float: right;
    padding: 2.9rem;
    z-index: 1000;
}

#nav {
    float: right;
    margin-top: 2rem;
    text-transform: uppercase;
    text-align: left;
    z-index: 1000;
}

a {
	color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

ul {
    list-style: none;
    margin: 0;
}

li {
	display: inline-block;
    padding-bottom: 0.3rem;
    padding-right: 2rem;
    font-weight: bold;
    margin: 1.8rem;
}

li:hover {
    border-bottom: 0.15em solid black;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}

/* MAIN */

#main {
    width: 100%;
    margin-top: 8rem;
    height: 40rem;
    background: url("../images/deep-end.jpg") no-repeat center top;
    background-size: cover;
    text-align: center;
}

h1, h2 {
    color: white;
}

h1 {
    margin-top: 10rem;
    font-size: 5rem;
    padding: 3rem 3rem 0 3rem;
}

h2 {
    margin-top: 0;
    font-size: 2rem;
    letter-spacing: 0.03rem;
}

/* BLOGS */

#blog-head {
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: 1.4rem;
}

h3 {
    font-size: 1.8rem;
    letter-spacing: 0.03rem;
    padding-top: 4rem;
    margin-bottom: 0;
}

.fa-angle-double-down {
    font-family: 'FontAwesome';
    content: "\f103";
    color: black;
    font-size: 2rem;
    font-style: normal;
}

h4 {
    font-size: 2rem;
    margin-bottom: 0;
}

h5 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 0;
}

h4, h5, p {
    padding: 0 1rem 0 1rem;

}

p {
    font-size: 1.3rem;
    margin: 1rem 0 1rem 0;
}

#blogs img {
    width: 100%;
    max-height: auto;
    overflow: hidden;
    margin-top: 0;
    position: relative;
}

#blogs {
    margin-top: 0;
    margin-bottom: 3rem;
}

/* FOOTER */

#footer {
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
    overflow: auto;
}

#contact {
    margin-bottom: 2rem;
}

#social img {
    padding: 1rem;
    width: 5rem;
    height: 5rem;
}





/* MEDIA QUERIES */

/* Larger than mobile */
@media only screen and (min-width: 400px) {

    .container {
        position: relative;
        width: 100%;
        margin: auto;
    }
}

/* Larger than tablet */
@media only screen and (min-width: 750px) {
    #nav-icon {
        display: none;
    }

    .container {
        position: relative;
        width: 750px;
        margin: auto;
    }

    #nav {
        position: fixed;
        top: 0;
        right: 0;
    }

    h1 {
        font-size: 7rem;
    }

    h2 {
        font-size: 3rem;
    }

    #blogs {
        float: left;
        width: 100%;
        overflow: auto;
    }

    #blog-posts1, #blog-posts2 {
        display: flex;
        flex-direction: row;
    }

    #blogs img {
        padding: 1rem;
    }

    #footer {
        display: flex;
    }

    #contact {
        text-align: left;
    }

    #social {
        float: right;
        clear: right;
        margin-top: 2rem;
    }

}

/* Larger than desktop */
@media only screen and (min-width: 1000px) {
    .container {
        position: relative;
        width: 1000px;
        margin: auto;
    }
}

/* Larger than Desktop HD */
@media only screen and (min-width: 1200px) {
    .container {
        position: relative;
        width: 1200px;
        margin: auto;
    }
}


